[gpg]
    format = ssh
[gpg "ssh"]
    allowedSignersFile = ~/.config/git/allowed_signers
{{- if .system.wsl }}
    program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl"
{{- else if and (eq .chezmoi.os "linux") (eq .system.chassisType "desktop") }}
    program = /opt/1Password/op-ssh-sign
{{- else if eq .chezmoi.os "windows" }}
    program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
{{- end }}
[commit]
    gpgsign = true
[user]
    name = {{ .user.name }}
    email = {{ .user.gitEmail }}
    signingkey = {{ .user.signingKey }}
[merge]
    ff = no
[pull]
    ff = yes
[push]
    autoSetupRemote = true
    recurseSubmodules = on-demand
[init]
    defaultBranch = main
[core]
    editor = vim
    eol = lf
    autocrlf = input
{{- if eq .system.wsl true}}
    sshCommand = ssh.exe
{{- else if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[rerere]
    enabled = true
[advice]
    addIgnoredFile = false

