[gpg]
    format = ssh
[gpg "ssh"]
{{- if .system.wsl }}
    program = "/mnt/c/Program Files/1Password/app/8/op-ssh-sign-wsl"
    allowedSignersfile = ~/.config/git/allowed_signers
{{- else if eq .chezmoi.os "linux" }}
    program = /opt/1Password/op-ssh-sign
    allowedSignersFile = ~/.config/git/allowed_signers
{{- else if eq .chezmoi.os "windows" }}
    program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
    allowedSignersFile = ~/.config/git/allowed_signers
{{- end }}
[commit]
    gpgsign = true
[user]
    name = {{ .user.name }}
    email = {{ .user.gitEmail }}
    signingkey = {{ .user.signingKey }}
[merge]
    ff = no
[pull]
    ff = yes
[push]
    autoSetupRemote = true
    recurseSubmodules = on-demand
[init]
    defaultBranch = main
[core]
    editor = vim
{{- if eq .system.wsl true}}
    sshCommand = ssh.exe
{{- else if eq .chezmoi.os "windows" }}
    sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- end }}
[rerere]
    enabled = true
[advice]
    addIgnoredFile = false

