{{- $email := promptStringOnce . "user.email" "What is your email address" -}}
{{- $gitEmail := promptStringOnce . "user.gitEmail" "What is your Git email address" -}}
{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = "desktop" }}
{{- end }}
[data.user]
    email = {{ $email | quote }}
    gitEmail = {{ $gitEmail | quote }}
    name = "Cas Eliëns"

[data.system]
    chassisType = {{- $chassisType | quote }}

[git]
    autoCommit = true
    autoPush = true
