{{- $email := promptStringOnce . "user.email" "What is your email address" -}}
{{- $gitEmail := promptStringOnce . "user.gitEmail" "What is your Git email address" -}}
{{- $chassisType := "desktop" }}
{{- if eq .chezmoi.os "linux" }}
{{-   $chassisType = (output "hostnamectl" "--json=short" | mustFromJson).Chassis }}
{{- else if eq .chezmoi.os "windows" }}
{{-   $chassisType = "desktop" }}
{{- end }}
{{- $is_wsl := false -}}
{{- if and .chezmoi.kernel (hasKey .chezmoi.kernel "osrelease") -}}
{{-   $is_wsl = (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
{{- end -}}
{{- if $is_wsl }}
{{-   $chassisType = "wsl" }}
{{- end -}}
[data.user]
    email = {{ $email | quote }}
    gitEmail = {{ $gitEmail | quote }}
    name = "Cas Eliëns"

[data.system]
    chassisType = {{- $chassisType | quote }}
    wsl = {{- $is_wsl }}

[git]
    autoCommit = false
    autoPush = false
