[gpg]
    format = ssh
[gpg "ssh"]
{{ if eq .chezmoi.os "linux" }}
    program = /opt/1Password/op-ssh-sign
    allowedSignersFile = /home/cas/.config/git/allowed_signers
{{ else if eq .chezmoi.os "windows" }}
    program = "C:/Program Files/1Password/app/8/op-ssh-sign.exe"
    allowedSignersFile = ~/allowed_signers
{{ end }}
[commit]
    gpgsign = true
[user]
    name = {{- .user.name }}
    email = {{- .user.gitEmail }}
    signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIMtAlUtuRKXkNrdRFXkkIhyGnvL0JDOguGrS1zSd0yEX
[merge]
    ff = no
[pull]
    ff = yes
[push]
    autoSetupRemote = true
    recurseSubmodules = on-demand
[init]
    defaultBranch = main
[core]
    editor = vim
[rerere]
    enabled = true
[advice]
    addIgnoredFile = false
