{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

{{ if eq .chezmoi.osRelease.id "fedora" }}
{{range .packages.fedora.all.dnf -}}
sudo dnf -y --quiet install {{.}}
{{ end -}}

curl https://sh.rustup.rs -sSf | sh

{{range .packages.fedora.all.cargo -}}
cargo install {{.}}
{{ end -}}

{{- if eq .chezmoi.arch "amd64" }}
{{range .packages.fedora.amd64.cargo -}}
cargo install {{.}}
{{ end -}}
{{ end }}
{{- end }}
{{- end }}
