Include config.d/*

Host *
    ServerAliveInterval 240
{{- if and (eq .chezmoi.os "linux") (eq .system.chassisType "desktop") }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}

Host github
    Hostname github.com
    User git

Host github.com
    User git

