Include config.d/config_*

{{- if stat (joinPath .chezmoi.homeDir ".ssh/1Password/config") }}
Include 1Password/config
{{- end }}

Host *
    ServerAliveInterval 240
{{- if stat (joinPath .chezmoi.homeDir ".1password/agent.sock") }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}

Host github
    Hostname github.com
    User git

Host github.com
    User git

