Include config.d/config_*

{{- if eq .chezmoi.os "windows" }}
Include 1Password/config
{{- end }}

Host *
    ServerAliveInterval 240
{{- if stat "~/.1Password/agent.sock" }}
    IdentityAgent ~/.1password/agent.sock
{{- end }}

Host github
    Hostname github.com
    User git

Host github.com
    User git

