{{- if eq .chezmoi.os "linux" }}
[".vim/autoload/plug.vim"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim"
    exact = true
    refreshPeriod = "2160h" # 90 days

[".oh-my-zsh"]
    type = "archive"
    url = "https://github.com/ohmyzsh/ohmyzsh/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-syntax-highlighting/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".oh-my-zsh/custom/plugins/zsh-autosuggestions"]
    type = "archive"
    url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
    exact = true
    stripComponents = 1
    refreshPeriod = "168h"

[".local/bin/eza"]
    type = "archive-file"
    url = "https://github.com/eza-community/eza/releases/download/{{ .versions.eza }}/eza_{{ eq .chezmoi.arch "amd64" | ternary "x86_64" "aarch64" }}-unknown-linux-gnu.tar.gz"
    stripComponents = 1
    path = "eza"

[".local/bin/starship"]
    type = "archive-file"
    url = "https://github.com/starship/starship/releases/download/{{ .versions.starship}}/starship-{{ eq .chezmoi.arch "amd64" | ternary "x86_64" "aarch64"  }}-unknown-linux-{{ eq .chezmoi.arch "amd64" | ternary "gnu" "musl" }}.tar.gz"
    path = "starship"

[".local/bin/asciinema"]
    type = "file"
    url = "https://github.com/asciinema/asciinema/releases/download/{{ .versions.asciinema}}/asciinema-{{ eq .chezmoi.arch "amd64" | ternary "x86_64" "aarch64" }}-unknown-linux-gnu{{ eq .chezmoi.arch "amd64" | ternary "musl" "gnu"}}"
    executable = true
{{- end }}
